<a href="https://colab.research.google.com/github/TRANQUOCHUY202/AI/blob/main/W3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
import pandas as pd 
import numpy as np
time_index = pd.date_range('01/01/2023', periods =100000, freq ='30s')
dataframe = pd.DataFrame (index = time_index)
dataframe ['Acess_Amount']= np.random.randint(1,10,100000)
dataframe.resample('W').sum()

            Acess_Amount
2023-01-01         14232
2023-01-08        100413
2023-01-15        100585
2023-01-22        100990
2023-01-29        100955
2023-02-05         82541

In [47]:
dataframe.resample('2W').mean()
dataframe.resample('W').mean()

            Acess_Amount
2023-01-01      4.941667
2023-01-08      4.980804
2023-01-15      4.989335
2023-01-22      5.009425
2023-01-29      5.007688
2023-02-05      5.008556

In [68]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [67]:
data[(data['NOC']=='AUT')&(data['Medal']=='Gold')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
90,1932,Lake Placid,Skating,Figure skating,AUT,individual,M,Gold
133,1936,Garmisch-Partenkirchen,Skating,Figure skating,AUT,individual,M,Gold
186,1948,St. Moritz,Skiing,Alpine Skiing,AUT,alpine combined,W,Gold
254,1952,Oslo,Skiing,Alpine Skiing,AUT,downhill,W,Gold
258,1952,Oslo,Skiing,Alpine Skiing,AUT,slalom,M,Gold
319,1956,Cortina d'Ampezzo,Skating,Figure skating,AUT,pairs,X,Gold
321,1956,Cortina d'Ampezzo,Skiing,Alpine Skiing,AUT,downhill,M,Gold
323,1956,Cortina d'Ampezzo,Skiing,Alpine Skiing,AUT,giant slalom,M,Gold
327,1956,Cortina d'Ampezzo,Skiing,Alpine Skiing,AUT,slalom,M,Gold
393,1960,Squaw Valley,Skiing,Alpine Skiing,AUT,slalom,M,Gold
472,1964,Innsbruck,Luge,Luge,AUT,doubles,X,Gold
476,1964,Innsbruck,Skiing,Alpine Skiing,AUT,downhill,M,Gold
478,1964,Innsbruck,Skiing,Alpine Skiing,AUT,downhill,W,Gold
482,1964,Innsbruck,Skiing,Alpine Skiing,AUT,slalom,M,Gold
576,1968,Grenoble,Luge,Luge,AUT,singles,M,Gold
577,1968,Grenoble,Skating,Figure skating,AUT,individual,M,Gold
579,1968,Grenoble,Skiing,Alpine Skiing,AUT,downhill,W,Gold
680,1972,Sapporo,Skating,Figure skating,AUT,individual,W,Gold
786,1976,Innsbruck,Skiing,Alpine Skiing,AUT,downhill,M,Gold
788,1976,Innsbruck,Skiing,Ski Jumping,AUT,K120 individual (90m),M,Gold
897,1980,Lake Placid,Skiing,Alpine Skiing,AUT,downhill,M,Gold
899,1980,Lake Placid,Skiing,Alpine Skiing,AUT,downhill,W,Gold
902,1980,Lake Placid,Skiing,Ski Jumping,AUT,K90 individual (70m),M,Gold
1130,1988,Calgary,Skiing,Alpine Skiing,AUT,alpine combined,M,Gold
1132,1988,Calgary,Skiing,Alpine Skiing,AUT,alpine combined,W,Gold
1135,1988,Calgary,Skiing,Alpine Skiing,AUT,super-G,W,Gold
1266,1992,Albertville,Bobsleigh,Bobsleigh,AUT,four-man,M,Gold
1269,1992,Albertville,Luge,Luge,AUT,singles,W,Gold
1272,1992,Albertville,Skiing,Alpine Skiing,AUT,alpine combined,W,Gold
1275,1992,Albertville,Skiing,Alpine Skiing,AUT,downhill,M,Gold
1279,1992,Albertville,Skiing,Alpine Skiing,AUT,slalom,W,Gold
1285,1992,Albertville,Skiing,Ski Jumping,AUT,K90 individual (70m),M,Gold
1440,1994,Lillehammer,Skating,Speed skating,AUT,1500m,W,Gold
1443,1994,Lillehammer,Skiing,Alpine Skiing,AUT,slalom,M,Gold
1623,1998,Nagano,Skiing,Alpine Skiing,AUT,alpine combined,M,Gold
1625,1998,Nagano,Skiing,Alpine Skiing,AUT,giant slalom,M,Gold
1629,1998,Nagano,Skiing,Alpine Skiing,AUT,super-G,M,Gold
1833,2002,Salt Lake City,Skiing,Alpine Skiing,AUT,downhill,M,Gold
1835,2002,Salt Lake City,Skiing,Alpine Skiing,AUT,giant slalom,M,Gold
1839,2002,Salt Lake City,Skiing,Cross Country S,AUT,30km mass start,M,Gold
2061,2006,Turin,Luge,Luge,AUT,doubles,X,Gold
2065,2006,Turin,Skiing,Alpine Skiing,AUT,downhill,W,Gold
2067,2006,Turin,Skiing,Alpine Skiing,AUT,giant slalom,M,Gold
2069,2006,Turin,Skiing,Alpine Skiing,AUT,slalom,M,Gold
2075,2006,Turin,Skiing,Alpine Skiing,AUT,super-G,W,Gold
2078,2006,Turin,Skiing,Nordic Combined,AUT,Individual sprint,M,Gold
2079,2006,Turin,Skiing,Nordic Combined,AUT,Team,M,Gold
2080,2006,Turin,Skiing,Ski Jumping,AUT,K120 individual (90m),M,Gold
2082,2006,Turin,Skiing,Ski Jumping,AUT,K120 team (90m),M,Gold

In [69]:
data[(data['NOC']=='AUT')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
49,1928,St. Moritz,Skating,Figure skating,AUT,individual,M,Silver
50,1928,St. Moritz,Skating,Figure skating,AUT,individual,W,Silver
...,...,...,...,...,...,...,...,...
2079,2006,Turin,Skiing,Nordic Combined,AUT,Team,M,Gold
2080,2006,Turin,Skiing,Ski Jumping,AUT,K120 individual (90m),M,Gold
2081,2006,Turin,Skiing,Ski Jumping,AUT,K120 individual (90m),M,Silver
2082,2006,Turin,Skiing,Ski Jumping,AUT,K120 team (90m),M,Gold
2083,2006,Turin,Skiing,Snowboard,AUT,Giant parallel slalom,M,Bronze

In [77]:
data[(data['NOC']=='AUT')&(data['Medal']=='Gold')&(data['Event']=='individual')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
90,1932,Lake Placid,Skating,Figure skating,AUT,individual,M,Gold
133,1936,Garmisch-Partenkirchen,Skating,Figure skating,AUT,individual,M,Gold
577,1968,Grenoble,Skating,Figure skating,AUT,individual,M,Gold
680,1972,Sapporo,Skating,Figure skating,AUT,individual,W,Gold

In [78]:
datas=data[(data['NOC'] =='AUT')]
print("Sá»‘ huy chÆ°Æ¡ng cá»§a AUT:",datas['Medal'].count())
data1=data[(data['Event'] =='individual') & (data['Medal']=='Gold')] 
print("Sá»‘ huy chÆ°Æ¡ng chÆ°Æ¡ng vÃ ng theo mÃ´n cÃ¡ nhÃ¢n:",data1['Event'].count())

Sá»‘ huy chÆ°Æ¡ng cá»§a AUT: 185
Sá»‘ huy chÆ°Æ¡ng chÆ°Æ¡ng vÃ ng theo mÃ´n cÃ¡ nhÃ¢n: 65